:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --main-color: #212121;
  --secondary-color: #757575;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
img {
  display: block;
}

body {
  font-family: var(--main-font);
  font-weight: 500;
  color: var(--main-color);
}

/* ==== COMPOMEMTSE === */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15 px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ==== END OF COMPOMEMTS === */

/* ====== HEADER ======= */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.main-nav {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}
.logo-text {
  color: var(--main-color);
}
.menu {
  display: flex;
  align-items: center;
  margin-left: 93px;
}
.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--main-color);
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.menu-link.current {
  color: var(--accent-color);
}
.menu-item:visited {
  color: var(--main-color);
}
.contact {
  display: flex;
  margin-left: auto;
}
.contact-item:last-child {
  margin-left: 50px;
}

.contact-link {
  font-size: 14px;
  line-height: 1.15px;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
/* ====== END HEADER ====== */

/* ====== FOOTER ======*/

.footer-text {
  /* color: #ffffff; */
}
.adress-text {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  /* color: #ffffff; */
}
.footer-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/* ====== END FOOTER ======*/

/* ==================== STUDIO PAGE =====================*/

/* ====== HERO ======*/

.hero-section {
  background-color: #2f303a;
  height: 600px;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}
.hero-btn {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
/* ====== END HERO ======*/

/* ====== FEATURES ======*/
.features-section {
  padding-bottom: 0;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.features-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}
.features-subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/* ====== END FEATURES ======*/

/* ====== SERVICES ======*/

.services-title,
.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.services-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.services-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}
.team-section {
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.team-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-text {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/* ====== END SERVICES ======*/

/* ==================== END OF STUDIO PAGE =====================*/

/* ==================== PORTFOLIO PAGE =====================*/

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.filters-button {
  font-size: 16px;
  line-height: 1.85;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.filters-button:hover,
.filters-button:focus {
  background-color: var(--accent-color);
}
.portfolio-link:visited {
  color: var(--main-color);
}
.portfolio-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

/* ==================== END OF PORTFOLIO PAGE =====================*/
